.header {
  display: flex;
  justify-content: space-between;
  margin: auto 20px;
}

.cartIcon {
  display: flex;
  align-items: center;
  gap: 20px;
}

.cartIcon span {
  font-size: 40px;
  padding-bottom: 5px;
}
